.wrapper
    display: flex

.prefix
    flex: 1 1 20%
    margin-right: 2rem

    & > h2
        margin: 0
        text-transform: uppercase
        font-size: 16px
        letter-spacing: 0.05rem

.content
    flex: 0 1 80%
    border-top: 1px solid #222
    border-bottom: 1px solid #222
    margin-top: 8px
    padding: 2rem 0

.present
    text-transform: uppercase

.companyName
    color: #2a4d69
    font-weight: 500

.date
    font-size: 12px

.jobTitle
    padding-left: 24px
    font-size: 16px
    font-weight: 600

.tools
    margin-top: 1rem
    padding-left: 24px
    font-size: 14px

    ul
        padding: 0
        margin: 0

    ul, li
        display: inline-block

    li
        font-size: 12px
        margin: 0 0.3rem
        background-color: #7F8688
        color: #eee
        padding: 0.2rem 0.4rem
        border-radius: 5px

        &:first-child
            margin-left: 0.7rem
