.root
  display: flex
  flex-direction: column
  background-color: white
  padding: 2rem
  // border-bottom: 1px solid #D5D5D5
  box-shadow: 0 3px 5px 0 hsla(0,0%,68.2%,.5)

  @media screen and (min-width: 768px)
    flex-direction: row

.left
  flex: 1 1 22.777%
  margin-right: 2rem

.right
  flex: 0 1 73.333%
