
.root
  display: grid
  grid-gap: 1.25rem

  .left
    grid-column: 1/4
    grid-row: 1/2

    .image
      width: 170px
      height: 100%
      background-color: gainsboro

  .right
    grid-column: 4/6
    grid-row: 1/2

  .title
    margin-bottom: 1.25rem
    font-size: 1.30rem
    letter-spacing: 0.05rem
    text-transform: uppercase

  .items
    li
      list-style: none
