@import "src/styles/variables.sass"

.root
  background-color: white
  padding: 1.23rem 2rem
  margin-bottom: 0.46rem
  box-shadow: 0 3px 5px 0 hsla(0,0%,68.2%,.5)

.linksRoot
  display: flex
  flex-direction: column

  @media screen and (min-width: $tablet-size)
    flex-direction: row

  li
    margin: 0
    list-style: none

    @media screen and (max-width: $tablet-size)
      margin-bottom: 0.35rem
      text-align: center

    a
      text-decoration: none
      color: $blue-mid

      @media screen and (min-width: $tablet-size)
        margin-right: 1.75rem

      &:hover, &.active
        border-bottom: 1px solid $blue-mid
